{
  "user": "你的账号",
  "pass": "你的密码",
  "id": "你的身份证号后4位",
  "passengerNames": ["乘客甲", "乘客乙", "乘客丙"],
  "fromstation": "NJH",
  "tostation": "TYV",
  "time": "2025-09-25",
  "chromeExecutablePath": "/Applications/Google Chrome.app/Contents/MacOS/Google Chrome",
  "chromeChannel": ""
}


